@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: #D8BFD8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

h3 {
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 15px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media {
    text-decoration: none;
    color: #000000;
    padding: 1rem 4rem;
    border: 1px solid #000000;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

a {
    padding: 2px;
    text-decoration: solid;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    background-color: #00F5FF;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
}

header>img {
    /* Fazer imagem ficar um quadrado */
    width: 500px;
    height: 500px;

    /* Dizer para a imagem não ficar achatada */
    object-fit: cover;

    /* Espacinho para separar um pouco o texto */
    margin-right: 50px;

    /* Fazer as bordas do quadrado rodar num raio de 50% */
    border-radius: 50%;
}